{% extends "public_base.html" %}

{% block title %}Link Preview - {{ name }}{% endblock %}

{% block pagecontent %}
<div class="warning">
    You are about to be redirected to an external site. Please verify the URL below.
</div>

<div class="link-info">
    <div class="link-label">Name</div>
    <div class="link-name">
        {{ name }}

    </div>
    <div class="link-label">Tag: <span class="link-tag">{{ tag }}</span>
    </div>

    <div class="link-label">Destination URL</div>
    <div class="link-url">{{ target }}</div>
</div>

<div class="actions">
    <a href="{{ target }}" class="button" target="_blank" rel="noopener noreferrer">
        Continue to Link
    </a>
    <a href="javascript:history.back()" class="button button-secondary">
        Go Back
    </a>
</div>
{% endblock %}